<div class='navbar'>
    <h2 class='title' [routerLink]='PAGE_PATH'>
        Hani Finance
    </h2>
    <div class='nav-items'>
        <a class='nav-item' *ngIf='!authenticated' [routerLink]='AUTH_PATH'>Login</a>
        <a class='nav-item' *ngIf='authenticated'>
            {{ getCookie('username') }}
        </a>
        <a class='nav-item' *ngIf='authenticated' [routerLink]='OVERVIEW_PAGE'>Dashboard</a>
        <a
                class='nav-item'
                *ngIf='authenticated'
                (click)='logout()'
        >
            Logout
        </a>
    </div>
</div>
